---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Gallery from "../components/Gallery.astro";

import JumboCta from "../components/JumboCta.astro";
import AccordionFaq from "../components/AccordionFaq.astro";
import Footer from "../components/Footer.astro";
import { Astro } from 'astro';
---

<Layout title="Home">
  <Navbar />
  <main>
    <!-- Hero Section -->
    <section class="hero-section">
      <div class="container py-5">
        <div class="row align-items-center">
          <div class="col-lg-6">
            <h1 class="display-4 mb-4">
              Celebrating Life's
              <br />Special Moments in Style
            </h1>
            <p class="lead mb-4">
              We are Creative Event Decorators, specializing in decor for
              weddings, birthdays and corporate events that inspire lasting
              memories!
            </p>
            <a
              href="https://wa.me/0133912105?text=Hello,%20I%20would%20like%20to%20know%20more%20about%20your%20services."
              target="_blank"
              class="btn btn-primary btn-lg"
            >
              Contact Us <img src="/icon-whatsapp.svg" width="28" />
            </a>
          </div>
          <div class="col-lg-6 position-relative d-flex justify-content-center">
            <figure>
              <img
                src={Astro.resolve("/hero-image.png")}
                alt="Event Decoration"
                class="img-fluid rounded-circle"
              />
              <img
                src="/hero-foreground-decor.png"
                alt="Foreground Decoration"
                class="position-absolute bottom-0 end-0"
              />
            </figure>
          </div>
        </div>
      </div>
    </section>

    <!-- Portfolio Section -->
    <section id="portfolio" class="portfolio-section bg--gradient-flip">
      <div class="curved" style="background: var(--offwhite)"></div>

      <div class="container py-5 text-center">
        <h2 class="section-title mb-5">Our Portfolio</h2>

        <p class="lead mb-4 col-md-6 mx-auto">
          Explore our diverse range of creative projects that showcase our
          expertise in event decoration. From weddings to corporate events, we
          bring visions to life with elegance and style.
        </p>

        <Gallery />
      </div>

      <div class="curved curved--flip" style="background: var(--beige);"></div>
    </section>

    <!-- Services Section -->
    <section
      id="services"
      class="services-section"
      style="background: var(--beige);"
    >
      <div class="container py-5">
        <h2 class="section-title text-center mb-5">Our Services</h2>
        <div class="row g-4">
          <div class="col-md-4">
            <div class="service-card p-4 bg-offwhite rounded shadow-sm">
              <h3>Wedding & ROM Decorations</h3>
              <p>
                Elegant and tailored decorations to bring your vision to life
                for weddings and ROM ceremonies.
              </p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service-card p-4 bg-offwhite rounded shadow-sm">
              <h3>House Party and Birthday Decorations</h3>
              <p>
                Thoughtfully designed decorations to match any theme and make
                your party memorable.
              </p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service-card p-4 bg-offwhite rounded shadow-sm">
              <h3>Gown Packages</h3>
              <p>
                A curated selection of gowns to suit your style and make your
                special day even more remarkable.
              </p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service-card p-4 bg-offwhite rounded shadow-sm">
              <h3>Professional Make up</h3>
              <p>
                Expert makeup services to enhance your natural beauty for
                weddings, events, or photoshoots.
              </p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service-card p-4 bg-offwhite rounded shadow-sm">
              <h3>Video & Photography Packages</h3>
              <p>
                Professional video and photography services to document your
                special moments seamlessly.
              </p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service-card p-4 bg-offwhite rounded shadow-sm">
              <h3>Live Band</h3>
              <p>
                Versatile live music to create the perfect atmosphere for any
                celebration or gathering.
              </p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service-card p-4 bg-offwhite rounded shadow-sm">
              <h3>Printable stuffs & designs</h3>
              <p>
                Customizable designs and print materials to add a unique and
                polished touch to your event.
              </p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service-card p-4 bg-offwhite rounded shadow-sm">
              <h3>Floral Arrangements & Bouquets</h3>
              <p>
                Custom-designed floral arrangements and bouquets to add a touch
                of elegance and freshness to your wedding, ROM, or special
                event.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="curved" style="background: var(--beige); padding-bottom: 8rem;">
    </div>

    <!-- FAQ Section -->
    <section class="faq-section bg--gradient">
      <!-- <JumboCta /> -->
      <div class="jumbo__cta container py-4">
        <div
          class="px-5 py-4 mb-4 rounded-5 shadow"
          style="background-color: var(--beige-light)"
        >
          <div class="container-fluid py-2">
            <div class="row">
              <div class="col-md-8">
                <h1 class="display-5 fw-bold mb-4">
                  Get in touch<br />
                  to create something together!
                </h1>
                <p class="fs-5 col-md-8">
                  We are Creative Event Decorators, specializing in decor for
                  weddings, birthdays, and corporate events that bring your
                  vision to life with elegance and style. Let’s make your
                  special moments unforgettable!
                </p>
              </div>
              <div
                class="col-md-4 d-flex justify-content-center align-items-center"
              >
                <a
                  class="btn btn-primary btn-lg"
                  href="https://wa.me/0133912105?text=Hello,%20I%20would%20like%20to%20know%20more%20about%20your%20services."
                  target="_blank"
                  >Whatsapp Us <img src="/icon-whatsapp.svg" width="28" /></a
                >
              </div>
            </div>
          </div>
        </div>
      </div>

      <style>
        .jumbo__cta {
          margin-top: -8rem;
          z-index: 50;
          position: relative;
        }
      </style>

      <div class="container py-5">
        <div class="row">
          <div
            class="col-md-6 d-flex justify-content-center align-items-center"
          >
            <img src={Astro.resolve("/hero-image.png")} />
          </div>
          <div class="col-md-6">
            <h2 class="section-title text-center mb-5">
              Frequently Asked Questions
            </h2>
            <p>
              We are Creative Event Decorators, specializing in decor for
              weddings, birthdays and corporate events that bring your vision to
              life with elegance and style. Let’s make your special moments
              unforgettable!
            </p>

            <AccordionFaq />
          </div>
        </div>
      </div>
      <div class="curved curved--flip mt-5" style="background: var(--offwhite)">
      </div>
    </section>
  </main>

  <Footer />
</Layout>

<style>
  :root {
    --beige: #fbe8e1;
    --beige-light: #fbf1ee;
    --offwhite: #fbf7f6;
  }
  body {
    background-color: var(--offwhite);
  }
  .curved {
    position: relative;
    padding-block: 2rem;
    height: 80%;
    background: var(--bg-color);
    border-bottom-left-radius: 50% 60%;
    border-bottom-right-radius: 50% 60%;
  }
  .curved--flip {
    border-bottom-left-radius: unset;
    border-bottom-right-radius: unset;
    border-top-left-radius: 50% 60%;
    border-top-right-radius: 50% 60%;
  }
  .bg--gradient {
    background: linear-gradient(299.63deg, var(--beige) 25.72%, #fbf7f6 100%);
  }
  .bg--gradient-flip {
    background: linear-gradient(77.77deg, #fbf7f6 54.8%, #fbe7e0 97.1%);
  }
  .bg-offwhite {
    background-color: var(--offwhite);
  }
  .hero-section {
    padding: 4rem 0;
    background-image: url("/bg-texture.svg");
    background-repeat: no-repeat;
    background-position:
      left top,
      right bottom;
  }

  .btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: white;
  }

  .btn-primary:hover {
    background-color: darken(var(--primary-color), 10%);
    border-color: darken(var(--primary-color), 10%);
  }

  .section-title {
    color: var(--text-color);
    margin-bottom: 2rem;
  }

  .portfolio-item img {
    transition: transform 0.3s ease;
  }

  .portfolio-item:hover img {
    transform: scale(1.05);
  }

  .service-card {
    transition: transform 0.3s ease;
	height: 100%;
  }

  .service-card:hover {
    transform: translateY(-5px);
  }
</style>
