---
import { Image } from "astro:assets";
import logo from "../assets/logo-loveartdesign.png";

const { whatsapp_href } = Astro.props;
---

<nav class="navbar navbar-expand-xl bg-transparent">
  <div class="container">
    <a class="navbar-brand" href="/">
      <Image
        src={logo}
        alt="Love Art Design"
        height="120"
        style="mix-blend-mode: multiply"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="#portfolio">Our Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#services">Our Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#faqs">FAQs</a>
        </li>
        <a
          class="btn btn-lg btn-outline-primary ms-2 d-inline-block"
          href={whatsapp_href}
          target="_blank">Talk to Us <i class="bi bi-whatsapp mx-1"></i></a
        >
      </ul>
    </div>
  </div>
</nav>
<style>
  .nav-item {
    display: flex;
    align-items: center;
  }
</style>
