---

import { Image } from 'astro:assets';
import iconWhatsapp from '../assets/icon-whatsapp.svg';
import logo from '../assets/logo-loveartdesign.png';

---

<nav class="navbar navbar-expand-lg bg-transparent">
  <div class="container">
    <a class="navbar-brand" href="/">
      <Image src={logo} alt="Love Art Design" height="120" style="mix-blend-mode: multiply" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="#portfolio">Our Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#services">Our Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#faqs">FAQs</a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="https://wa.me/0133912105?text=Hello,%20I%20would%20like%20to%20know%20more%20about%20your%20services."
            target="_blank"
          >
            Talk to Us <Image src={iconWhatsapp} width="28" alt="call us on whatsapp" />
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<style>
  .navbar {
    padding: 1rem 0;
  }

  .nav-link {
    color: var(--text-color);
    font-weight: 500;
    margin: 0 1rem;
    transition: color 0.3s ease;
  }

  .nav-link:hover {
    color: var(--primary-color);
  }
</style>
